<div id="map"></div>

<% content_for :head do %>

  <script type="text/javascript">
    jQuery(function($) {
      var members    = <%= raw @members.to_json %>;
      var mapOptions = {
        zoom: <%= Setting['map.default_zoom'] -%>,
        center: new google.maps.LatLng(<%= Setting['map.default_lat'] -%>, <%= Setting['map.default_lng'] -%>),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      for (var i = 0; i < members.length; i++) {
        var m = members[i];

        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(m.latitude, m.longitude),
          map: map,
          flat: true,
          title: m.name
        });

        currentMemberVbId = "<%= current_member.vb_id %>"
        if (currentMemberVbId && currentMemberVbId == m.vb_id) {
          marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
        }

        var baseUrl = "<%= Setting['forum_url'] -%>";

        if (m.vb_id) {
          attachInfoWindow(marker, '<img src="'+baseUrl+'/image.php?u='+m.vb_id+'&dateline='+(new Date().getTime())+'&type=profile" style="float: left; margin-right: 10px"/><h4>'+m.name+'</h4><a href="'+baseUrl+'/member.php?u='+m.vb_id+'">&raquo; zum Forum</a>');
        } else {
          attachInfoWindow(marker, '<h4>'+m.name+'</h4>');
        }
      }

      function attachInfoWindow(marker, content) {
        var infowindow = new google.maps.InfoWindow({
          content: content,
          size: new google.maps.Size(50, 50)
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
        });
      }
    });
  </script>

<% end %>
