<!DOCTYPE html>
<html>
<head>
  <title><%= "#{Setting['forum_name']} | Memberkarte" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= yield :head %>
</head>
<body>

  <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
      <%= link_to "#{Setting['forum_name']} | Memberkarte", root_path, class: 'brand' %>
      <ul class="nav">
        <li>
          <% if current_member? && current_member.location_string.present? %>
            <%= link_to edit_member_path do %>
              <i class="icon icon-pencil icon-white"></i>
              Eintrag aktualisieren
            <% end %>
          <% else %>
            <%= link_to edit_member_path do %>
              <i class="icon icon-plus icon-white"></i>
              Neu eintragen
            <% end %>
          <% end %>
        </li>
      </ul>
      <ul class="nav pull-right">
        <% if current_member? %>
          <li>
            <%= link_to session_path, method: :delete, confirm: 'Wirklich abmelden?' do %>
              <i class="icon icon-off icon-white"></i>
              Abmelden (<%= current_member.name %>)
            <% end %>
          </li>
        <% else %>
          <li><%= link_to 'Anmelden', new_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span12">
        <%= render 'alerts' %>
      </div>
    </div>
  </div>

  <%= yield %>

  <footer>
    Memberkarte für <%= link_to Setting['forum_name'], Setting['forum_url'] %> |
    <%= link_to 'Impressum', '/legal-info' %> |
    <%= link_to 'Hinweise zum Datenschutz', '/privacy' %> |
    <%= link_to 'VBMM - Memberkarte für vBulletin', 'https://github.com/renspr/vbmm' %>
  </footer>
</body>
</html>
