<%= simple_form_for @member, :html => {:class => 'form-horizontal' } do |f| %>

  <%= f.input :name, label: 'Name im Forum', required: false do %>
    <span class="input-large uneditable-input"><%= @member.name %></span>
  <% end %>

  <%= f.input :location_string, label: 'Deine Anschrift', hint: 'Du kannst hier z.B. Deine genaue Anschrift mit Straße und Hausnummer angeben. Es reicht aber auch z.B. nur den Name der Stadt anzugeben. Die Angabe wird von Google Maps in Koordinaten umgerechnet. Beispiel: Musterweg 23, 12345 Musterstadt, Deutschland oder Zurüch, Schweiz', as: :boolean %>

  <div class="form-actions">
    <%= f.submit value: 'Speichern', class: 'btn btn-success' %>
    <%= link_to 'Konto Löschen', member_path, class: 'btn btn-danger', method: :delete, :data => { :confirm => "Konto Wirklich löschen?" } %>
  </div>

<% end %>